<p style="color: green"><%= notice %></p>

<h1>Locations</h1>

<%= form_with url: locations_path, method: :get do |form| %>
  <%= form.text_field :place, value: params[:place] %>
  <%= form.submit %>
<% end%>
<!--Ruby on rails #106 how to use gem geocoder, gps coordinates, distance calculation, map markers 8:59-->
<div id="locations">
  <% @locations.each do |location| %>
    <%= render location %>
    <p>
      <%= link_to "Show this location", location %>
    </p>
  <% end %>
</div>

<%= link_to "New location", new_location_path %>
